[submodule "src/vendor/attestion-deplacement-derogatore-q4-2020"]
	path = src/vendor/attestion-deplacement-derogatore-q4-2020
	url = https://github.com/LAB-MI/attestation-deplacement-derogatoire-q4-2020
